# Local
DATABASE_URL="postgres://admin:admin@localhost:5432/NOME-BANCO"

SECRET="BE449E63XPABYVMBi~#FoX!u+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjS;KqW3le~8^vn&u+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mj;p>T_]{Sd8grV47SM^v2FV6DZ_j4F672ABYVMBiVE834u+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjD9833C1BCh8~;y]4RLMJcy%X3BEF73BF329C9~#FoX!S;KqW3le~8^vn&;p>T_]{Sd8gr4C78LABYVMBiVJ4J9u+$8_(z5lkd$ed943z#+hqok^375g#=$vu+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mj#5!np+trwvv0*s@mjMPN0kcoi57yEueALqhpCIOZ7CP"

SECRET_CRYPT="BE449E63Xu+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjPABu+$8_(z5u+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjlkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mju+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjVMBi~#FoX!S;KqW3le~8^vn&;p>T_]{Sd8grV47SM^v2FV6DZ_j4F672ABYVMBiVE834D9833C1BCh8~;y]4RLMJcy%X3BEF73BF329C9~#FoXu+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mj!S;KqW3le~8^vn&;p>T_]{Sd8gr4C78LABu+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjYVMBiVJ4J9MPN0kcoi57yEueALqhpCIOu+$8_(z5lkd$ed943z#+hqok^375g#=$v#5!np+trwvv0*s@mjZ7CP"